<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<!-- Bootstrap navbar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <% if user_signed_in? %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <% end %>
        
        <%= link_to root_path, class: 'navbar-brand' do %>
          <!-- <%= image_tag("#") %> -->
        <% end %>
      </div>
  
      <% if user_signed_in? %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-success navbar-btn' %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Community", root_path %></li>
            <li><%= link_to "My Account", root_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->  
          
      <% else %>
        <div class="nav navbar-nav navbar-right">
           <%= link_to "Log in", new_user_session_path, class: 'btn btn-success navbar-btn', method: :get %>
        </div>
      <% end %>
        
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
    <%= yield %>
  </div>
  
 
</body>
</html>
